# github_personal
Host personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_personal

# github_work
Host work
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_work

Host 127.0.0.1
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
